USE [SIGEP]
GO
/****** Object:  Table [dbo].[AuditoriaGlobalTB]    Script Date: 9/12/2025 2:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriaGlobalTB](
	[IdAuditoria] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[TablaAfectada] [varchar](255) NOT NULL,
	[IdRegistro] [int] NOT NULL,
	[Accion] [varchar](50) NOT NULL,
	[CampoAfectado] [varchar](255) NULL,
	[DatosAnteriores] [varchar](2000) NULL,
	[DatosNuevos] [varchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAuditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BolsaEmpleoTB]    Script Date: 9/12/2025 2:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BolsaEmpleoTB](
	[IdEmpleo] [int] IDENTITY(1,1) NOT NULL,
	[Empresa] [varchar](255) NOT NULL,
	[Descripcion] [varchar](2000) NULL,
	[Requisitos] [varchar](2000) NULL,
	[Modalidad] [varchar](255) NULL,
	[FechaPublicacion] [date] NOT NULL,
	[FechaLimite] [date] NOT NULL,
	[IdEstado] [int] NOT NULL,
	[AreaAfin] [varchar](255) NULL,
	[IdDireccion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CantonesTB]    Script Date: 9/12/2025 2:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CantonesTB](
	[IdCanton] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[IdProvincia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCanton] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComentariosPracticaTB]    Script Date: 9/12/2025 2:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComentariosPracticaTB](
	[IdComentario] [int] IDENTITY(1,1) NOT NULL,
	[Comentario] [varchar](1000) NOT NULL,
	[Fecha] [date] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdPractica] [int] NOT NULL,
	[Nota] [varchar](100) NULL,
	[Tipo] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdComentario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComunicadosTB]    Script Date: 9/12/2025 2:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComunicadosTB](
	[IdComunicado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[Informacion] [varchar](2000) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Poblacion] [varchar](255) NULL,
	[FechaLimite] [date] NULL,
	[IdUsuario] [int] NOT NULL,
	[IdEstado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdComunicado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DireccionesTB]    Script Date: 9/12/2025 2:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DireccionesTB](
	[IdDireccion] [int] IDENTITY(1,1) NOT NULL,
	[DireccionExacta] [varchar](2000) NOT NULL,
	[IdEstado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDireccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DistritosTB]    Script Date: 9/12/2025 2:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistritosTB](
	[IdDistrito] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[IdCanton] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDistrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentosTB]    Script Date: 9/12/2025 2:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentosTB](
	[IdDocumento] [int] IDENTITY(1,1) NOT NULL,
	[Documento] [varchar](255) NOT NULL,
	[Tipo] [varchar](100) NOT NULL,
	[RutaArchivo] [varchar](500) NOT NULL,
	[FechaSubida] [datetime] NOT NULL,
	[IdUsuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailsTB]    Script Date: 9/12/2025 2:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailsTB](
	[IdEmail] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[IdEmpresa] [int] NULL,
	[IdEncargado] [int] NULL,
	[Email] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpleosTB]    Script Date: 9/12/2025 2:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpleosTB](
	[IdEmpleo] [int] IDENTITY(1,1) NOT NULL,
	[NombrePuesto] [varchar](255) NOT NULL,
	[Mensaje] [varchar](1000) NULL,
	[IdEstado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpresasTB]    Script Date: 9/12/2025 2:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpresasTB](
	[IdEmpresa] [int] IDENTITY(1,1) NOT NULL,
	[NombreEmpresa] [varchar](255) NOT NULL,
	[NombreContacto] [varchar](255) NULL,
	[IdDireccion] [int] NULL,
	[AreasAfines] [varchar](255) NULL,
	[IdEstado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EncargadosTB]    Script Date: 9/12/2025 2:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EncargadosTB](
	[IdEncargado] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido1] [varchar](50) NOT NULL,
	[Apellido2] [varchar](50) NOT NULL,
	[FechaRegistro] [date] NOT NULL,
	[Ocupacion] [varchar](255) NOT NULL,
	[LugarTrabajo] [varchar](255) NOT NULL,
	[IdEstado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEncargado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EspecialidadesTB]    Script Date: 9/12/2025 2:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EspecialidadesTB](
	[IdEspecialidad] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[IdEstado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEspecialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EspecialidadesVacantesTB]    Script Date: 9/12/2025 2:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EspecialidadesVacantesTB](
	[IdEspecialidadVacante] [int] IDENTITY(1,1) NOT NULL,
	[IdEspecialidad] [int] NOT NULL,
	[IdVacante] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEspecialidadVacante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadosTB]    Script Date: 9/12/2025 2:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosTB](
	[IdEstado] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstudianteEncargadoTB]    Script Date: 9/12/2025 2:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstudianteEncargadoTB](
	[IdEstudianteEncargado] [int] IDENTITY(1,1) NOT NULL,
	[IdEncargado] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Parentesco] [varchar](100) NOT NULL,
	[IdEstado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstudianteEncargado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormacionAcademicaTB]    Script Date: 9/12/2025 2:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormacionAcademicaTB](
	[IdFormacion] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Carrera] [varchar](255) NOT NULL,
	[Titulo] [varchar](255) NOT NULL,
	[AnnoGraduacion] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFormacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InformacionLaboralTB]    Script Date: 9/12/2025 2:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InformacionLaboralTB](
	[IdLaboral] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[EmpresaActual] [varchar](255) NULL,
	[PuestoActual] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLaboral] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InformacionMedicaTB]    Script Date: 9/12/2025 2:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InformacionMedicaTB](
	[IdInfoMedica] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Padecimiento] [varchar](500) NULL,
	[Tratamiento] [varchar](500) NULL,
	[Alergia] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdInfoMedica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PracticaEstudianteTB]    Script Date: 9/12/2025 2:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracticaEstudianteTB](
	[IdPractica] [int] IDENTITY(1,1) NOT NULL,
	[IdVacante] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[FechaAplicacion] [date] NOT NULL,
	[IdEstado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPractica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProvinciasTB]    Script Date: 9/12/2025 2:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProvinciasTB](
	[IdProvincia] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProvincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesTB]    Script Date: 9/12/2025 2:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesTB](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](2000) NOT NULL,
	[IdEstado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeccionesTB]    Script Date: 9/12/2025 2:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeccionesTB](
	[IdSeccion] [int] IDENTITY(1,1) NOT NULL,
	[Seccion] [varchar](255) NOT NULL,
	[IdEstado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSeccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TelefonosTB]    Script Date: 9/12/2025 2:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TelefonosTB](
	[IdTelefono] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[IdEmpresa] [int] NULL,
	[IdEncargado] [int] NULL,
	[Telefono] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTelefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioEspecialidadTB]    Script Date: 9/12/2025 2:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioEspecialidadTB](
	[IdUsuarioEspecialidad] [int] IDENTITY(1,1) NOT NULL,
	[IdEspecialidad] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdEstado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuarioEspecialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosTB]    Script Date: 9/12/2025 2:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosTB](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [varchar](20) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido1] [varchar](50) NOT NULL,
	[Apellido2] [varchar](50) NOT NULL,
	[Contrasenna] [varchar](255) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[FechaRegistro] [date] NOT NULL,
	[FechaEgreso] [date] NOT NULL,
	[IdSeccion] [int] NULL,
	[IdDireccion] [int] NULL,
	[IdRol] [int] NOT NULL,
	[IdEstado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VacantesPracticasTB]    Script Date: 9/12/2025 2:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VacantesPracticasTB](
	[IdVacante] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[IdEmpresa] [int] NOT NULL,
	[Requerimientos] [varchar](1000) NULL,
	[FechaMaxAplicacion] [date] NULL,
	[NumCupos] [int] NULL,
	[FechaCierre] [date] NULL,
	[Modalidad] [varchar](255) NULL,
	[Descripcion] [varchar](1000) NULL,
	[Tipo] [varchar](255) NULL,
	[IdEstado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVacante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DocumentosTB] ADD  DEFAULT (getdate()) FOR [FechaSubida]
GO
ALTER TABLE [dbo].[AuditoriaGlobalTB]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[UsuariosTB] ([IdUsuario])
GO
ALTER TABLE [dbo].[BolsaEmpleoTB]  WITH CHECK ADD FOREIGN KEY([IdDireccion])
REFERENCES [dbo].[DireccionesTB] ([IdDireccion])
GO
ALTER TABLE [dbo].[BolsaEmpleoTB]  WITH CHECK ADD FOREIGN KEY([IdEstado])
REFERENCES [dbo].[EstadosTB] ([IdEstado])
GO
ALTER TABLE [dbo].[CantonesTB]  WITH CHECK ADD FOREIGN KEY([IdProvincia])
REFERENCES [dbo].[ProvinciasTB] ([IdProvincia])
GO
ALTER TABLE [dbo].[ComentariosPracticaTB]  WITH CHECK ADD FOREIGN KEY([IdPractica])
REFERENCES [dbo].[PracticaEstudianteTB] ([IdPractica])
GO
ALTER TABLE [dbo].[ComentariosPracticaTB]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[UsuariosTB] ([IdUsuario])
GO
ALTER TABLE [dbo].[ComunicadosTB]  WITH CHECK ADD FOREIGN KEY([IdEstado])
REFERENCES [dbo].[EstadosTB] ([IdEstado])
GO
ALTER TABLE [dbo].[ComunicadosTB]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[UsuariosTB] ([IdUsuario])
GO
ALTER TABLE [dbo].[DireccionesTB]  WITH CHECK ADD FOREIGN KEY([IdEstado])
REFERENCES [dbo].[EstadosTB] ([IdEstado])
GO
ALTER TABLE [dbo].[DistritosTB]  WITH CHECK ADD FOREIGN KEY([IdCanton])
REFERENCES [dbo].[CantonesTB] ([IdCanton])
GO
ALTER TABLE [dbo].[DocumentosTB]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[UsuariosTB] ([IdUsuario])
GO
ALTER TABLE [dbo].[EmailsTB]  WITH CHECK ADD FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[EmpresasTB] ([IdEmpresa])
GO
ALTER TABLE [dbo].[EmailsTB]  WITH CHECK ADD FOREIGN KEY([IdEncargado])
REFERENCES [dbo].[EncargadosTB] ([IdEncargado])
GO
ALTER TABLE [dbo].[EmailsTB]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[UsuariosTB] ([IdUsuario])
GO
ALTER TABLE [dbo].[EmpleosTB]  WITH CHECK ADD FOREIGN KEY([IdEstado])
REFERENCES [dbo].[EstadosTB] ([IdEstado])
GO
ALTER TABLE [dbo].[EmpresasTB]  WITH CHECK ADD FOREIGN KEY([IdDireccion])
REFERENCES [dbo].[DireccionesTB] ([IdDireccion])
GO
ALTER TABLE [dbo].[EmpresasTB]  WITH CHECK ADD FOREIGN KEY([IdEstado])
REFERENCES [dbo].[EstadosTB] ([IdEstado])
GO
ALTER TABLE [dbo].[EncargadosTB]  WITH CHECK ADD FOREIGN KEY([IdEstado])
REFERENCES [dbo].[EstadosTB] ([IdEstado])
GO
ALTER TABLE [dbo].[EspecialidadesTB]  WITH CHECK ADD FOREIGN KEY([IdEstado])
REFERENCES [dbo].[EstadosTB] ([IdEstado])
GO
ALTER TABLE [dbo].[EspecialidadesVacantesTB]  WITH CHECK ADD FOREIGN KEY([IdEspecialidad])
REFERENCES [dbo].[EspecialidadesTB] ([IdEspecialidad])
GO
ALTER TABLE [dbo].[EspecialidadesVacantesTB]  WITH CHECK ADD FOREIGN KEY([IdVacante])
REFERENCES [dbo].[VacantesPracticasTB] ([IdVacante])
GO
ALTER TABLE [dbo].[EstudianteEncargadoTB]  WITH CHECK ADD FOREIGN KEY([IdEncargado])
REFERENCES [dbo].[EncargadosTB] ([IdEncargado])
GO
ALTER TABLE [dbo].[EstudianteEncargadoTB]  WITH CHECK ADD FOREIGN KEY([IdEstado])
REFERENCES [dbo].[EstadosTB] ([IdEstado])
GO
ALTER TABLE [dbo].[EstudianteEncargadoTB]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[UsuariosTB] ([IdUsuario])
GO
ALTER TABLE [dbo].[FormacionAcademicaTB]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[UsuariosTB] ([IdUsuario])
GO
ALTER TABLE [dbo].[InformacionLaboralTB]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[UsuariosTB] ([IdUsuario])
GO
ALTER TABLE [dbo].[InformacionMedicaTB]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[UsuariosTB] ([IdUsuario])
GO
ALTER TABLE [dbo].[PracticaEstudianteTB]  WITH CHECK ADD FOREIGN KEY([IdEstado])
REFERENCES [dbo].[EstadosTB] ([IdEstado])
GO
ALTER TABLE [dbo].[PracticaEstudianteTB]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[UsuariosTB] ([IdUsuario])
GO
ALTER TABLE [dbo].[PracticaEstudianteTB]  WITH CHECK ADD FOREIGN KEY([IdVacante])
REFERENCES [dbo].[VacantesPracticasTB] ([IdVacante])
GO
ALTER TABLE [dbo].[RolesTB]  WITH CHECK ADD FOREIGN KEY([IdEstado])
REFERENCES [dbo].[EstadosTB] ([IdEstado])
GO
ALTER TABLE [dbo].[SeccionesTB]  WITH CHECK ADD FOREIGN KEY([IdEstado])
REFERENCES [dbo].[EstadosTB] ([IdEstado])
GO
ALTER TABLE [dbo].[TelefonosTB]  WITH CHECK ADD FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[EmpresasTB] ([IdEmpresa])
GO
ALTER TABLE [dbo].[TelefonosTB]  WITH CHECK ADD FOREIGN KEY([IdEncargado])
REFERENCES [dbo].[EncargadosTB] ([IdEncargado])
GO
ALTER TABLE [dbo].[TelefonosTB]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[UsuariosTB] ([IdUsuario])
GO
ALTER TABLE [dbo].[UsuarioEspecialidadTB]  WITH CHECK ADD FOREIGN KEY([IdEspecialidad])
REFERENCES [dbo].[EspecialidadesTB] ([IdEspecialidad])
GO
ALTER TABLE [dbo].[UsuarioEspecialidadTB]  WITH CHECK ADD FOREIGN KEY([IdEstado])
REFERENCES [dbo].[EstadosTB] ([IdEstado])
GO
ALTER TABLE [dbo].[UsuarioEspecialidadTB]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[UsuariosTB] ([IdUsuario])
GO
ALTER TABLE [dbo].[UsuariosTB]  WITH CHECK ADD FOREIGN KEY([IdDireccion])
REFERENCES [dbo].[DireccionesTB] ([IdDireccion])
GO
ALTER TABLE [dbo].[UsuariosTB]  WITH CHECK ADD FOREIGN KEY([IdEstado])
REFERENCES [dbo].[EstadosTB] ([IdEstado])
GO
ALTER TABLE [dbo].[UsuariosTB]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[RolesTB] ([IdRol])
GO
ALTER TABLE [dbo].[UsuariosTB]  WITH CHECK ADD FOREIGN KEY([IdSeccion])
REFERENCES [dbo].[SeccionesTB] ([IdSeccion])
GO
ALTER TABLE [dbo].[VacantesPracticasTB]  WITH CHECK ADD FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[EmpresasTB] ([IdEmpresa])
GO
ALTER TABLE [dbo].[VacantesPracticasTB]  WITH CHECK ADD FOREIGN KEY([IdEstado])
REFERENCES [dbo].[EstadosTB] ([IdEstado])
GO
USE [SIGEP]
GO

-- Agregar la nueva columna IdDistrito
ALTER TABLE [dbo].[DireccionesTB]
ADD IdDistrito INT NOT NULL DEFAULT(1);
-- (puedes ajustar el DEFAULT según tu necesidad, o quitarlo si vas a llenar los datos manualmente)

-- Crear la foreign key hacia DistritosTB
ALTER TABLE [dbo].[DireccionesTB]  
ADD CONSTRAINT FK_DireccionesTB_DistritosTB
FOREIGN KEY (IdDistrito) 
REFERENCES [dbo].[DistritosTB](IdDistrito);
GO

USE [SIGEP];
GO

-- 1) Crear la tabla de modalidades
IF NOT EXISTS (SELECT 1 FROM sys.tables WHERE name = 'ModalidadesTB')
BEGIN
    CREATE TABLE [dbo].[ModalidadesTB](
        [IdModalidad] INT IDENTITY(1,1) NOT NULL,
        [Descripcion] VARCHAR(100) NOT NULL,
        CONSTRAINT PK_Modalidades PRIMARY KEY CLUSTERED (IdModalidad ASC)
    );
END
GO

-- 2) Poblar modalidades estándar
IF NOT EXISTS (SELECT 1 FROM ModalidadesTB)
BEGIN
    INSERT INTO [dbo].[ModalidadesTB] (Descripcion) VALUES ('Presencial');
    INSERT INTO [dbo].[ModalidadesTB] (Descripcion) VALUES ('Virtual');
    INSERT INTO [dbo].[ModalidadesTB] (Descripcion) VALUES ('Híbrido');
END
GO

-- 3) Agregar columna IdModalidad a las tablas
IF COL_LENGTH('dbo.VacantesPracticasTB', 'IdModalidad') IS NULL
    ALTER TABLE [dbo].[VacantesPracticasTB] ADD IdModalidad INT NULL;

IF COL_LENGTH('dbo.BolsaEmpleoTB', 'IdModalidad') IS NULL
    ALTER TABLE [dbo].[BolsaEmpleoTB] ADD IdModalidad INT NULL;
GO

-- 5) Crear llaves foráneas
ALTER TABLE [dbo].[VacantesPracticasTB]
ADD CONSTRAINT FK_VacantesPracticas_Modalidad FOREIGN KEY (IdModalidad)
REFERENCES [dbo].[ModalidadesTB](IdModalidad);

ALTER TABLE [dbo].[BolsaEmpleoTB]
ADD CONSTRAINT FK_BolsaEmpleo_Modalidad FOREIGN KEY (IdModalidad)
REFERENCES [dbo].[ModalidadesTB](IdModalidad);
GO

-- 6) Eliminar columna vieja Modalidad
ALTER TABLE [dbo].[VacantesPracticasTB] DROP COLUMN Modalidad;
ALTER TABLE [dbo].[BolsaEmpleoTB] DROP COLUMN Modalidad;